body {
    background-color: rgb(34, 8, 64);
    overflow-y: hidden;
    overflow-x: hidden;
}

#flatSun {
    position: absolute; 
    left: 75px;
    top: 225px;
    height: 50px;
    width: 50px;
    display: none;
    z-index: 9;
}

/* planets on overview page */
#flatMercury {
    position: absolute; 
    left: 175px;
    top: 250px;
    height: 5px;
    width: 5px;
    display: none;
    z-index: 8;
}

    #MeRing {
        position: absolute; 
        left: 27.5px;
        top: 177.5px;
        height: 150px;
        width: 150px;
        display: none;
        opacity: 0.50;
        z-index: -1;
    }

#flatVenus {
    position: absolute; 
    left: 240px;
    top: 250px;
    height: 20px;
    width: 20px;
    display: none;
    z-index: 7;
}

    #VRing {
        position: absolute; 
        left: -30px;
        top: 120px;
        height: 280px;
        width: 280px;
        display: none;
        opacity: 0.75;
        z-index: -1;
    }

#flatEarth {
     position: absolute; 
     left: 300px;
     top: 250px;
     height: 20px;
     width: 20px;
     display: none;
     z-index: 6;
}

    #ERing {
        position: absolute; 
        left: -90px;
        top: 60px;
        height: 400px;
        width: 400px;
        display: none;
        opacity: 0.75;
        z-index: -1;
    }

#flatMars {
    position: absolute; 
    left: 400px;
    top: 250px;
    height: 6.6px;
    width: 6.6px;
    display: none;
    z-index: 5;
}
   
    #MaRing {
        position: absolute; 
        left: -196.7px;
        top: -46.7px;
        height: 600px;
        width: 600px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#astBelt {
    position: absolute; 
    left: -375px;
    top: -225px;
    height: 950px;
    width: 950px;
    display: none;
    z-index: 4;
}

#flatJupiter {
    position: absolute; 
    left: 650px;
    top: 250px;
    height: 30px;
    width: 30px;
    display: none;
    z-index: 3;
}
   
    #JRing {
        position: absolute; 
        left: -435px;
        top: -285px;
        height: 1100px;
        width: 1100px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#flatSaturn {
    position: absolute; 
    left: 825px;
    top: 250px;
    height: 32px;
    width: 40px;
    display: none;
    z-index: 2;
}
    
    #SRing {
        position: absolute; 
        left: -608px;
        top: -458px;
        height: 1450px;
        width: 1450px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#flatUranus {
    position: absolute; 
    left: 975px;
    top: 250px;
    height: 22px;
    width: 22px;
    display: none;
    z-index: 1;
}
    
    #URing {
        position: absolute; 
        left: -764px;
        top: -614px;
        height: 1750px;
        width: 1750px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#flatNeptune {
    position: absolute; 
    left: 1225px;
    top: 250px;
    height: 22px;
    width: 22px;
    display: none;
    z-index: 0;
}
    
    #NRing {
        position: absolute; 
        left: -1014px;
        top: -864px;
        height: 2250px;
        width: 2250px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }
/*moon on overview page */
#flatMoon {
    position: absolute; 
    left: 320px;
    top: 250px;
    height: 3.33px;
    width: 3.33px;
    display: none;
    z-index: 6;
}

/*pag1 selection panels*/
#startingPanels {
    background-color: rgb(34, 19, 94);
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 100px;
}

    #sunPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 1%;
        width: 95px;
    }
    #sunPanel:hover {
        background-color: rgb(48, 17, 88);
    }
        #panelSun {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 22.5px;
            top: 30%;
        }
        #sunPanelText {
            position: absolute;
            font-family: 'Dosis', sans-serif;
            color: rgb(237, 229, 187);
            height: 70px;
            width: 35px;
            right: 27.5px;
            top: 60%;
        }

        /*i had to place this here to split this while i copy and paste the code beacuse it looks so similar i was getting confused*/

    #planetsPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 26%;
        width: 95px;
    }
    #planetsPanel:hover {
        background-color: rgb(48, 17, 88);
    }
        #panelPlanets {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 22.5px;
            top: 30%;
        }
        #planetPanelText {
            position: absolute;
            font-family: 'Dosis', sans-serif;
            color: rgb(237, 229, 187);
            height: 70px;
            width: 35px;
            right: 40px;
            top: 60%;
        }

    #moonsPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 51%;
        width: 95px;
    }
    #moonsPanel:hover {
        background-color: rgb(48, 17, 88);
    }
    #panelmoons {
        position: absolute;
        height: 50px;
        width: 50px;
        right: 22.5px;
        top: 30%;
    }
    #moonsPanelText {
        position: absolute;
        font-family: 'Dosis', sans-serif;
        color: rgb(237, 229, 187);
        height: 70px;
        width: 35px;
        right: 37px;
        top: 60%;
    }
    /*this is for the dwarf planets*/
    #dwarfPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 76%;
        width: 95px;
    }
    #dwarfPanel:hover {
        background-color: rgb(48, 17, 88);
    }
        #paneldwarf {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 22.5px;
            top: 30%;
        }
        #dwarfPanelText {
            position: absolute;
            font-family: 'Dosis', sans-serif;
            color: rgb(237, 229, 187);
            height: 70px;
            width: 40px;
            right: 39px;
            top: 60%;
        }
