body {
    background-color: rgb(34, 8, 64);
    overflow-y: hidden;
    overflow-x: hidden;
}

#flatSun {
    position: absolute; 
    left: 75px;
    top: 225px;
    height: 50px;
    width: 50px;
    display: none;
    z-index: 9;
}

/* planets on overview page */
#flatMercury {
    position: absolute; 
    left: 175px;
    top: 250px;
    height: 5px;
    width: 5px;
    display: none;
    z-index: 8;
}

    #MeRing {
        position: absolute; 
        left: 27.5px;
        top: 177.5px;
        height: 150px;
        width: 150px;
        display: none;
        opacity: 0.50;
        z-index: -1;
    }

#flatVenus {
    position: absolute; 
    left: 240px;
    top: 250px;
    height: 20px;
    width: 20px;
    display: none;
    z-index: 7;
}

    #VRing {
        position: absolute; 
        left: -30px;
        top: 120px;
        height: 280px;
        width: 280px;
        display: none;
        opacity: 0.75;
        z-index: -1;
    }

#flatEarth {
     position: absolute; 
     left: 300px;
     top: 250px;
     height: 20px;
     width: 20px;
     display: none;
     z-index: 6;
}

    #ERing {
        position: absolute; 
        left: -90px;
        top: 60px;
        height: 400px;
        width: 400px;
        display: none;
        opacity: 0.75;
        z-index: -1;
    }

#flatMars {
    position: absolute; 
    left: 400px;
    top: 250px;
    height: 6.6px;
    width: 6.6px;
    display: none;
    z-index: 5;
}
   
    #MaRing {
        position: absolute; 
        left: -196.7px;
        top: -46.7px;
        height: 600px;
        width: 600px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#astBelt {
    position: absolute; 
    left: -375px;
    top: -225px;
    height: 950px;
    width: 950px;
    display: none;
    z-index: 4;
}

#flatJupiter {
    position: absolute; 
    left: 650px;
    top: 250px;
    height: 30px;
    width: 30px;
    display: none;
    z-index: 3;
}
   
    #JRing {
        position: absolute; 
        left: -435px;
        top: -285px;
        height: 1100px;
        width: 1100px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#flatSaturn {
    position: absolute; 
    left: 825px;
    top: 250px;
    height: 32px;
    width: 40px;
    display: none;
    z-index: 2;
}
    
    #SRing {
        position: absolute; 
        left: -608px;
        top: -458px;
        height: 1450px;
        width: 1450px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#flatUranus {
    position: absolute; 
    left: 975px;
    top: 250px;
    height: 22px;
    width: 22px;
    display: none;
    z-index: 1;
}
    
    #URing {
        position: absolute; 
        left: -764px;
        top: -614px;
        height: 1750px;
        width: 1750px;
        display: none;
        opacity: 0.40;
        z-index: -1;
    }

#flatNeptune {
    position: absolute; 
    left: 1125px;
    top: 250px;
    height: 22px;
    width: 22px;
    display: none;
    z-index: -2;
}
    
    #NRing {
        position: absolute; 
        left: -914px;
        top: -764px;
        height: 2050px;
        width: 2050px;
        display: none;
        opacity: 0.40;
        z-index: -3;
    }
/*moon on overview page */
#flatMoon {
    position: absolute; 
    left: 320px;
    top: 250px;
    height: 3.33px;
    width: 3.75px;
    display: none;
    z-index: 6;
}

/*pag1 selection panels*/
#startingPanels {
    background-color: rgb(34, 19, 94);
    border-radius: 25px;
    position: absolute;
    left: 200%;
    top: 0%;
    height: 100%;
    width: 100px;
    display: none;
    z-index:-1; 
}

    #sunPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 1%;
        width: 95px;
        z-index:-1; 
    }
    #sunPanel:hover {
        background-color: rgb(48, 17, 88);
    }
        #panelSun {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 22.5px;
            top: 30%;
            z-index:-1; 
        }
        #sunPanelText {
            position: absolute;
            font-family: 'Dosis', sans-serif;
            color: rgb(237, 229, 187);
            height: 70px;
            width: 35px;
            right: 27.5px;
            top: 60%;
            z-index:-1; 
        }

    #planetsPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 26%;
        width: 95px;
        z-index:-1; 
    }
    #planetsPanel:hover {
        background-color: rgb(48, 17, 88);
    }
        #panelPlanets {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 22.5px;
            top: 30%;
            z-index:-1; 
        }
        #planetPanelText {
            position: absolute;
            font-family: 'Dosis', sans-serif;
            color: rgb(237, 229, 187);
            height: 70px;
            width: 35px;
            right: 40px;
            top: 60%;
            z-index:-1; 
        }

    #moonsPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 51%;
        width: 95px;
        z-index:-1; 
    }
    #moonsPanel:hover {
        background-color: rgb(48, 17, 88);
    }
    #panelmoons {
        position: absolute;
        height: 50px;
        width: 56.25px;
        right: 19.325px;
        top: 30%;
        z-index:-1; 
    }
    #moonsPanelText {
        position: absolute;
        font-family: 'Dosis', sans-serif;
        color: rgb(237, 229, 187);
        height: 70px;
        width: 35px;
        right: 37px;
        top: 60%;
        z-index:-1; 
    }
    /*this is for the dwarf planets*/
    #dwarfPanel {
        background-color: rgb(76, 11, 138);
        border-radius: 25px;
        position: absolute;
        height: 23%;
        right: 2.5px;
        top: 76%;
        width: 95px;
        z-index:-1; 
    }
    #dwarfPanel:hover {
        background-color: rgb(48, 17, 88);
    }
        #paneldwarf {
            position: absolute;
            height: 50px;
            width: 50px;
            right: 22.5px;
            top: 30%;
            z-index:-1; 
        }
        #dwarfPanelText {
            position: absolute;
            font-family: 'Dosis', sans-serif;
            color: rgb(237, 229, 187);
            height: 70px;
            width: 40px;
            right: 39px;
            top: 60%;
            z-index:-1; 
        }

/*universal body alignment code for stats pages*/
.statPage {
    display: none;
    text-align: center;
}

#bodyImage {
    position: absolute;
}

#statsDiv {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(237, 229, 187);
    position: absolute;
    height: 99%;
    width: 30%;
    right: 0px;
    top: 0px;
    border-radius: 25px;
    border-style: outset;
    border-color: rgb(237, 229, 187);

}

#bodyName {
    text-align: center;
    width: 100%;
    height: 10%;
    margin-top: 4%;
    border-top-style: double;
    border-bottom-style: solid;
    border-top-color: rgb(237, 229, 187);
    border-bottom-color: rgb(237, 229, 187);
    border-width: 1%;
}

#labelTxt {
    color: rgb(237, 229, 187);
    font-family: 'Dosis', sans-serif;
    height: 5%;
    font-size: 250%;
    text-align: inherit;
    margin-top: inherit;
    
}

#inputStats1 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 60%;
    top: 15%;
}

#inputStats2 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 60%;
    top: 20%;
}

#inputStats3 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 60%;
    top: 25%;
}

#inputStats4 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 60%;
    top: 30%;
}

#inputStats5 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 60%;
    top: 35%;
}

#inputStats6 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 60%;
    top: 40%;
}

#labelText1 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    top: 15%;
}

#labelText2 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    top: 20%;
}

#labelText3 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    top: 25%;
}

#labelText4 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    top: 30%;
}

#labelText5 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    top: 35%;
}

#labelText6 {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    top: 40%;
}

#returnLink {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    left: 10%;
    bottom: 10%;
}

/*drop down generation rules*/
#dropDown {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 229, 187);
    position: absolute;
    height: 99%;
    width: 20%;
    right: 0px;
    top: 0px;
    border-radius: 25px;
    border-style: outset;
    border-color: rgb(237, 229, 187);
    z-index: 10;
    text-align: center;
}

#dropDown2 {
    background-color: rgb(0, 0, 0);
    color: rgb(237, 229, 187);
    position: absolute;
    line-height: 2;
    height: 20%;
    width: 15%;
    left: 2%;
    bottom: 2%;
    border-radius: 25px;
    border-style: outset;
    border-color: rgb(237, 229, 187);
    z-index: 10;
    text-align: center;
}

#dropDown.dropText {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-left: auto;
    top: 5%;
    overflow-y: auto;
}

#dropDown2.dropText {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    margin-left: auto;
    top: 5%;
    overflow-y: auto;
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(237, 229, 187);
}

a:hover {
    color: rgb(147, 207, 225);
}

#closeSub {
    background-color: rgb(237, 229, 187);
    border-radius: 25px;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    bottom: 2%;
    right: 2.5%;
    display: none;
    width: 15%;
    height: 7%;
    z-index: 4;
}

#sourceSub {
    background-color: rgb(237, 229, 187);
    border-radius: 25px;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    bottom: 2%;
    left: 2%;
    width: 10%;
    height: 7%;
    z-index: 10;
}

#factSub {
    background-color: rgb(237, 229, 187);
    border-radius: 25px;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    top: 50%;
    left: 10%;
    width: 60%;
    height: 7%;
    z-index: 10;
}

#infoSub {
    background-color: rgb(237, 229, 187);
    border-radius: 25px;
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    bottom: 2%;
    left: 2%;
    width: 10%;
    height: 7%;
    z-index: 10;
}

#closeSub:hover {
    background-color: rgb(147, 207, 225);
}

#sourceSub:hover {
    background-color: rgb(147, 207, 225);
}

#infoSub:hover {
    background-color: rgb(147, 207, 225);
}

#factSub:hover {
    background-color: rgb(147, 207, 225);
}

.btnTxt {
    color: rgb(0, 0, 0);
    top: 0%;
}
#closeSub.btnTxt {
    color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    display: none;
    top: 0%;
    z-index: 5;
}
#sourceSub.btnTxt {
    color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    display: none;
    top: 0%;
    z-index: 5;
}
#infoSub.btnTxt {
    color: rgb(0, 0, 0);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    display: none;
    top: 0%;
    z-index: 5;
}
#currFact {
    color: rgb(237, 229, 187);
    position: absolute;
    font-family: 'Dosis', sans-serif;
    padding: 10%;
    top: 50%;
}